@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Noto Sans', sans-serif;
}
main{
    padding-top: 80px ;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
:root{
    /* colors */
    --colNoirPhoto:#181818;
    --col1: #2F4858;
    --col2: #165B6F;
    --col3: #00707E;
    --col4:#008483;
    --col5: #00987D;
    --col6:#04AA6D;

    --alt1:#0BE0BA;
    --alt2:#00BFC9;
    --alt3:#ffffff;

}   

/********************nav bar******************************/

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #2F4858;
    width: 100%;
    font-size: 15px;
    height: 50px;
    padding-top: 30px;
    z-index: 100;
    padding-bottom: 80px;
}

nav a {
    text-decoration: none;
    color : white;
}

.logo_link {
    position: absolute;
    top: 50px;
    left: 50%;
    translate: -50%;
    width: 76px;
}

.logo {
    width: 100%;

    border-radius: 70px;
    z-index: 100;
}

/*side nav bar--------------------------------------------------------------------------------*/
.sidebar {
    position: fixed;
    padding-top: 9vh;
    top: 0;
    display: flex;
    writing-mode: vertical-lr; 
    width: 10%;
    height: 100%;
    color: var(--alt3);
    background-color:var(--colNoirPhoto);   
}
.sidebar a{
    text-decoration: none;
    color: var(--alt3);
    display: flex;
    align-items: center;
    padding-top: 10vh;
}
.sidebar :first-child:hover{
    color: var(--col6);
}

.sidebar :last-child:hover{
    color: var(--col6);
}

.sidebar :nth-child(3):hover{
    color: var(--col6);
}

.sidebar :nth-child(2):hover{
    color: var(--col6);
}

/* Side Bar changement de couleur--------------------------------------------------------------------------------*/


.sidebar.scrollBiographie{
    background-color:var(--col1);
}
.sidebar.scrollRéalisations{
    background-color:var(--col2)
}
.sidebar.scrollDistinctions{
    background-color: var(--col3);
}
.sidebar.scrollVoirAussi{
    background-color: var(--col4);
}
/* top content--------------------------------------------------------------------------------*/
.topcontainer{
    background-color: var(--colNoirPhoto);
    width: 100%;
    padding-left: 2vh;
}
.titretopcontainer{
    color: var(--alt3);
    display: flex;
    flex-direction: column ;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.titretopcontainer :first-child{
    font-size: 25px;
}

.topcontainer{
    padding-top: 30px;
    display: flex;
    justify-content: space-between; 
}
/* fin detop content--------------------------------------------------------------------------------*/


/* biographie content--------------------------------------------------------------------------------*/
.containerAllContent{
    display: grid;
    grid-template-columns: 10% 90%;
    z-index: 5;
    background-image:url(/background\ page\ content.png);
    background-size: cover;
}
.separateurdechapitre1{
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    background-color: var(--col1);
    height: 5vh;
    color:var(--alt3);
    grid-column-start: 2;
}

.separateurdechapitre2{
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    background-color: var(--col2);
    height: 5vh;
    color:var(--alt3);
    grid-column-start: 2;
}

.separateurdechapitre3{
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    background-color: var(--col3);
    height: 5vh;
    color:var(--alt3);
    grid-column-start: 2;
}

.separateurdechapitre4{
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    background-color:var(--col4);
    height: 5vh;
    color:var(--alt3);
    grid-column-start: 2;
}
.separateurdechapitre5{
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    background-color:var(--col5);
    height: 5vh;
    color:var(--alt3);
    grid-column-start: 2;
}

.content{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    grid-column-start: 2;
    line-height: 2rem ;
}
h6{
    font-size: 23px;
}
/* fin de biographie content--------------------------------------------------------------------------------*/
p{
    font-size: 20px;
    color: black;
}
/* footer-----------------------------------------------------------------------------------------------------*/

footer {
    position: fixed;
    background-color: var(--col1);
    bottom: 0;
    width: 100%;    
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    padding-right: 5vh ;
}

footer p{
    color: var(--alt3);
} 
/* features-----------------------------------------------------------------------------------------------------*/

/* Menu déroulant-----------------------------------------------------------------------------------------------------*/
#togg1{
    position: sticky;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--col1);
    color:var(--alt3);
    border: 0px;
}

#togg1{
    position: sticky;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--col1);
    color:var(--alt3);
    border: 0px;
}

#togg2{
    position: sticky;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--col2);
    color:var(--alt3);
    border: 0px;
}

#toggRealisations{
    position: sticky;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--col3);
    color:var(--alt3);
    border: 0px;
}

#toggDistinctions{
    position: sticky;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--col4);
    color:var(--alt3);
    border: 0px;
}

#toggVoiraussi{
    position: sticky;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--col5);
    color:var(--alt3);
    border: 0px;
}
.chevron{
    height: 10px;
    cursor: pointer;
}


/* mediaquery-----------------------------------------------------------------------------------------------------*/

/* Téléphone -----------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 390px) { 
    .topcontainer img { 
      height: 50%;
      width: 30%;
    } 
    .titretopcontainer{
        color: var(--alt3);
        display: flex;
        flex-direction: column ;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  }
/* Tablette -----------------------------------------------------------------------------------------------------*/
  @media screen and (min-width: 768px) { 
    .topcontainer img { 
      height: 50%;
      width: 30%;
    } 
    .titretopcontainer :first-child{
        font-size: 3rem;
    }
    .titretopcontainer :nth-child(2){
        padding-top: 1vh;
        font-size: 20px ;

    }
    .titretopcontainer{
        color: var(--alt3);
        display: flex;
        flex-direction: column ;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  }
/* Pc -----------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) { 
    .topcontainer img { 
      height: 50%;
      width: 50%;
    } 
    .titretopcontainer :first-child{
        font-size: 3rem;
    }
    .titretopcontainer :nth-child(2){
        padding-top: 1vh;
        font-size: 20px ;

    }
    .titretopcontainer{
        color: var(--alt3);
        display: flex;
        flex-direction: column ;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  }

  .scrolltracker{
    position: fixed;
    height: 0.5rem;
    background-color: var(--col6);
  }