/********************style general************************/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

* {
    font-weight: 700;
    font-family: 'Noto Sans';
}
body{
    padding: 0;
    margin: 0;
    background-image: url(../images/white_background.jpg);
    background-size: cover;
}

main {
    padding-top: 70px;
}



/********************nav bar******************************/

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #2F4858;
    width: 100%;
    font-size: 15px;
    height: 50px;
    padding-top: 30px;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color : white;
}

.logo_link {
    position: absolute;
    top: 50px;
    left: 50%;
    translate: -50%;
    width: 76px;
}

.logo {
    width: 100%;

    border-radius: 70px;
    z-index: 100;
}

/********************carousel*****************/

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > .clignotant_principale {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: azure;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

/*******************structure****************************/

.title_1 {
    padding-top: 75px;
    text-align: center;
    font-size: 50px;
}

.title_2 {
    padding-top: 75px;
    text-align: center;
    font-size: 50px;
}

.clignotant_forme {
    padding-top: 100px;
    background-color: #2F4858;
    clip-path: polygon(27% 0, 73% 0, 67% 25%, 33% 25%);
    z-index: 70;
}


.clignotant {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 50px;
}

.button_test {
    display: flex;
    justify-content: end;
    padding-right: 53px;
}

.test_size {
    height: 50px;
    width: 100px;
    font-size: 30px;
    background-color: #077864;
    border: none;
    color: white;
    box-shadow: 5px -5px 4px rgba(0, 0, 0, 0.25);
}

.img_clignotant {
    display: flex;
    justify-content: center;
}
.cli1 {
    height: 350px;
}

.ruc1 {
    height: 350px;
}

.focli1 {
    height: 350px;
}

.bal1 {
    height: 350px;
}

.cra1 {
    height: 350px;
}

.foruc1 {
    height: 350px;
}

.pul1 {
    height: 350px;
}

.menu_grille {
    display: flex;
    justify-content: center;
}

.pre_size {
    height: 45px;
    width: 60px;
    font-size: 30px;
    background-color: #09B798;
    border: none;
    color: white;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
}

.button_pre {
    padding-top: 2px;
    padding-right: 3px;
}


.lancer_size {
    height: 50px;
    width: 120px;
    font-size: 30px;
    background-color: #04AA6D;
    border: none;
    color: white;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.button_lancer_stop {
    display: none;
}
.lancer_size:hover {
    cursor: pointer;
}

.sui_size {
    height: 45px;
    width: 60px;
    font-size: 30px;
    background-color: #077864;
    border: none;
    color: white;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.button_sui {
    padding-top: 2px;
    padding-left: 3px;
}

.para {
    background-color: #ACD4D6;
    opacity: 90%;
    border-top: 1px solid #00987D;
    border-bottom: 1px solid #00987D;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 22px;
    height: autopx;
    margin-bottom: 60px;
}

p.para {
    padding-top: 20px;
}

/******************footer *********************/

.title_3 {
    background-color: #2F4858;
}


/****************** Responsive ****************/

@media screen and (min-width: 505px){
    .button_test {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .para {
        height: 100px;
    }

}

@media screen and (min-width: 660px){
    .carousel-button.prev {
        left: 10rem;
    }

    .carousel-button.next {
        right: 10rem;
}

}